# Automação Web e Busca de Informações com Python

In [1]:
# Bibliotecas utilizadas

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Abrir um navegador

pasta = "C:\\Users\\thais\\Documents\\chrome\\chromedriver"
navegador = webdriver.Chrome(pasta)

In [3]:
# Passo 1 

# Pegar cotação do dólar

# Abrir o site do google

navegador.get("https://www.google.com/")

# Procurar barra de pesquisa no site do google

barra_pesquisa = navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input')

# Enviar pesquisa desejada

barra_pesquisa.send_keys("cotação dólar")

# Apertar enter para pesquisar

pesquisar = navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input')

pesquisar.send_keys(Keys.ENTER)

# Coletando o preço do dólar

dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]')

cotacao_dolar = dolar.get_attribute("data-value")

In [4]:
# Passo 2

# Cotação do euro

# Abrir o site do google

navegador.get("https://www.google.com/")

# Procurar barra de pesquisa no site do google

barra_pesquisa = navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input')

# Enviar pesquisa desejada

barra_pesquisa.send_keys("cotação euro")

# Apertar enter para pesquisar

pesquisar = navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input')

pesquisar.send_keys(Keys.ENTER)

# Coletando o preço do euro

euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]')

cotacao_euro = euro.get_attribute("data-value")

In [5]:
# Passo 3

# Cotação do ouro

# Abrir primeiro site na busca de cotação do ouro

navegador.get("https://www.melhorcambio.com/ouro-hoje")

# Pegar o valor do ouro que aparece no site 

ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]')

cotacao_ouro = ouro.get_attribute("value")

# Tranformando vírgula para ponto

cotacao_ouro = cotacao_ouro.replace(",", ".")

# Sair do navegador 

navegador.quit()

In [6]:
# Passo 4

# Importar base de dados 

tabela = pd.read_excel("Produtos.xlsx")

# Apresentando tabela 

display(tabela)

# Atualizar os dados 

tabela.loc[tabela['Moeda'] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela['Moeda'] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela['Moeda'] == "Ouro", "Cotação"] = float(cotacao_ouro)

# Apresentar diferenças

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.511400,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6.325076,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.511400,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.511400,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6.325076,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.511400,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,322.540000,7000.00,1.15,8050.000

In [7]:
# Passo 5

# Calcular novos valores

tabela['Preço de Compra'] = tabela['Preço Original']*tabela['Cotação']

tabela['Preço de Venda'] = tabela['Preço de Venda']*tabela['Margem']

display(tabela)

# Exportar os novos dados

tabela.to_excel("Produtos Novo.xlsx", index=False)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.511400,5511.344886,1.40,9799.9020
1,Carro Renault,4500.00,Euro,6.325076,28462.839926,2.00,108000.0000
2,Notebook Dell,899.99,Dólar,5.511400,4960.204886,1.70,13004.8555
3,IPhone,799.00,Dólar,5.511400,4403.608600,1.70,11545.5500
4,Carro Fiat,3000.00,Euro,6.325076,18975.226617,1.90,64980.0000
5,Celular Xiaomi,480.48,Dólar,5.511400,2648.117472,2.00,9609.6000
6,Joia 20g,20.00,Ouro,322.540000,6450.800000,1.15,9257.5000